"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-datatip":
      datatipDebounceDelay: 75
    "atom-ide-find-references":
      defaultLocationForPane: "right"
  "autoclose-html":
    forceBlock: [
      "head"
      "ion-list"
      "ion-item"
    ]
  core:
    disabledPackages: [
      "minimap"
      "node-debugger"
      "atom-ide-debugger-node"
      "refactor"
      "language-pug"
      "js-refactor"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  "exception-reporting":
    userId: "1bdc2b1a-c4b4-41ba-8f99-942b4e6f26ce"
  "linter-ui-default": {}
  pigments:
    autocompleteScopes: [
      ".source.css"
      ".source.css.less"
      ".source.sass"
      ".source.css.scss"
      ".source.stylus"
      ".source.scss"
    ]
  "platformio-ide-terminal":
    style:
      theme: "homebrew"
  "seti-ui":
    compactView: true
    fileIcons: false
    hideProjectTab: true
    hideTitleBar: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
